
Order App/Bidbatl/.idea
Order App/Bidbatl/app/build
Order App/Bidbatl/app/build/
Order App/Bidbatl/app/build/
Order App/Bidbatl/app/app.iml
Order App/Bidbatl/app/app.iml
Order App/Bidbatl/app/.DS_Store
Order App/Bidbatl/app/release/.DS_Store
Order App/Bidbatl/app/release/output.json
Order App/Bidbatl/app/release/app-release.apk
Order App/Bidbatl/.DS_Store
Order App/Bidbatl/.gradle
Order App/Bidbatl/app/app.iml
Order App/Bidbatl/build/intermediates/
Order App/Bidbatl/Bidbatl.iml

